dialog {
    border: 2px solid black;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100px;
    padding: 10px;
  }
  
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

.Fundo{

    display: flex;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    width: 100%;
    flex-direction: column;
    align-items: center;

}

.boxL{
    display: flex;
    margin: 10px;
    width: 90%;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    background-color: #d1d1d1;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

/* Imagens */
.icons{

    margin-right: 10px;
    width: 30px;

}
.tripoint {
    position: absolute;
    top: 0;
    right: 0 ;
    width: 20px;
    margin: 10px;
}

/* Informações */
.local{
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.linha {
    width: 100%;
    border: 1px solid #000; 
    margin: 0;
    padding: 0;
}

.item {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 5px 0; 
    flex: 1; 
    width: 100%; 
}


@media screen and (max-width:600px) {

    .Fundo {
        border-radius: 0; 
        padding: 10px;
    }

    .boxL {
        width: 100%; 
        padding: 10px; 
        margin: 5px; 
    }

    .icons, .tripoint {
        width: 20px; 
    }

    .local{
        font-size: 15px;
        margin-top: 10px;
    }

    .linha {
        width: 100%; 
    }

    .item {
        font-size: 10px; 
    }
    .content {
        display: flex;
        flex-direction: column;
        width: 82%;
    }
}