.swiperImg{
    border-radius: 50% 50% 50% 50%;
    
}

.swiperContainer{
    display: flex;
    justify-content: center;
}

.swiperImg :hover{
    cursor: pointer;
}

.swiperImg :hover > :hover {
    opacity: 0.3;
}

@media screen and (max-width:600px){
    .item img{
        width:100px;
        height:auto;
    }
}