.inner{
    display: flex;
    align-items: center;
    padding: 5px;
}

.item{
    height: 10%;
    width: 10%;
    margin: 10px;
    min-height: 100px;
    min-width: 100px;
}

.item img{
   height: 100%;
   width: 100%;
   border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}