/* NAV / Header */
.hp{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0.25px 0.5px 4px black;
    width: auto;
  }
  .t1{
    font-size: 50px;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman';
    margin:0;
  }

  /* reponsive */
@media screen and (max-width:600px) {
    .hp{
      padding: 10px;
      display: flex;
      justify-content: center;
      box-shadow: 0.25px 0.5px 4px black;
      width: 100%;
    }
    .t1{
      font-size: 25px;
      color: black;
      font-weight: bold;
      font-family: 'Times New Roman';
    }
  
  
  }