/* infos */
.box {
  flex-direction: row;
  display: flex;
  justify-content: start;
  gap: 20px;
  padding: 20px 50px;
}

.ftbill {
  border: solid black 3px;
  border-radius: 360px;
  width: 150px;
}

.txtinfo {
  color: black;
  font-weight: bold;
}

.txtinfo h1 {
  font-weight: bold;
  font-family:'Times New Roman';
  text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);

}
.txtinfo h2 {
  font-weight: bold;
  font-family:'Times New Roman';
  padding-top: 20px;
  text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
}

.txtinfo p {
  font-family:monospace ;
  padding-top: 5px;
  color: rgb(58, 58, 58);
}

/* reponsive */
@media screen and (max-width:600px) {
  .box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px 10px;
    align-items: flex-start;
  }

  .ftbill {
    border: solid black 3px;
    border-radius: 360px;
    width: 90px;
    margin: 0 auto;
  }

  .txtinfo {
    text-align: start;
    color: black;
    font-weight: bold;
  }

  .txtinfo h1 {
    font-size: 25px;
  }

  .txtinfo h2 {
    padding-top: 8px;
    font-size: 15px;
  }

  .txtinfo p {
    padding-top: 2px;
    color: grey;
    font-size: 15px;
  }
}